html,body{
  height: 100%;
  padding: 0;
  margin:0;
  font-family: monospace;
}
*body{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      font-weight: 100;
      text-align: center;
    }
    #spinner_container{
      height: 200px;
      width: 200px;
      border: 1px solid #E7E7E7;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px;
      #spinner{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #spinner.rotate{
        @keyframes spin {
          0%{
            transform : rotate(0deg);
          }
          100%{
            transform: rotate(359deg);
          }
        }
        animation: spin 600ms infinite linear;
        &::before{
          --accent-color: #0AF;
          content: '';
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border-top: 2px solid var(--accent-color);
          border-right: 2px solid transparent;
          border-bottom: 2px solid var(--accent-color);
          border-left: 2px solid transparent;
        }
      }
    }
    button{
      margin-top: 20px;
      align-self: center;
      padding: 5px;
      cursor: pointer;
    }
  }
}